body {
    background-color: rgb(203, 214, 214);
    margin: 0;
}

.nav {
    margin: 0;
    padding-left: 0%;
    text-align: left;
    background: #dfb631;
    color: white;
    height: 60px;
    width: 100%;
    font-size: 40px;
    font-family: Helvetica;
    position: sticky;
    top: 0;
}

.nav li {
    overflow: hidden;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0 6px 0 6px;
    border: 0;
    line-height: 100%;
}
.nav li:hover {
    background-color: #bd981e;
}
.nav li a {
    vertical-align: middle;
    line-height: 60px;
}
.nav li a:link{
    text-decoration: none;
}
.nav li a:visited{
    text-decoration: none;
    color: black;
}
.nav li a:hover{
    text-decoration: none;
}
.content {
    margin: 0 auto;
    height: 2000px;
    width: 70%;
    background-color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer {
    width: 100%;
    height: 60px;
    align-content: center;
    vertical-align: center;
    background: #dfb631;
    font-family: Helvetica;
}